<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.peermatch.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.example.peermatch.model.domain.User">
            <id property="id" column="id" />
            <result property="userName" column="user_name" />
            <result property="userAccount" column="user_account" />
            <result property="userPassword" column="user_password" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="gender" column="gender" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="userRole" column="user_role" />
            <result property="userStatus" column="user_status" />
            <result property="code" column="code" />
            <result property="profile" column="profile" />
            <result property="tags" column="tags" />
            <result property="isDelete" column="is_delete" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,user_account,user_password,avatar_url,gender,
        phone,email,user_role,user_status,code,
        tags,is_delete,create_time,update_time
    </sql>
    <select id="listUserWithDelete" resultType="org.example.peermatch.model.domain.User">
        select *
        from user
        where update_time >= #{minUpdateTime}
    </select>


</mapper>
